@import "./reset.scss";

// Typography: Space Mono
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --clr-primary-100: #0079ff;
  --clr-primary-200: #697c9a;
  --clr-primary-300: #4b6a9b;
  --clr-primary-400: #2b3442;
  --clr-primary-500: #f6f8ff;
  --clr-primary-600: #fefefe;
  --clr-primary-700: #60abff;

  --clr-dark-mode-100: #ffffff;
  --clr-dark-mode-200: #141d2f;
  --clr-dark-mode-300: #1e2a47;

  --ff: "Space Mono", monospace;

  --fw-400: 400;
  --fw-500: 700;

  --fs-title: 1.625rem;
  --fs-toggle: 0.8125rem;
  --fs-button: 0.875rem;
  --fs-input-placeholder: 0.8125rem;
  --fs-name: 1rem;
  --fs-username: 0.8125rem;
  --fs-date: 0.8125rem;
  --fs-bio: 0.8125rem;
  --fs-repos: 0.6875rem;
  --fs-stat-number: 1rem;
  --fs-social: 0.8125rem;

  --br-100: 0.625rem;
  --br-200: 0.9375rem;

  --bs-100: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

  --max-width-100: 20.4375rem;
  --max-width-200: 35.8125rem;
  --max-width-300: 45.625rem;
}

// Base

body {
  font-size: 15px;
  font-weight: var(--fw-400);
  font-family: var(--ff);
  line-height: 1.3;
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-400);
}

h1 {
  font-size: 1.625rem;
  color: var(--clr-primary-400);
  font-weight: var(--fw-500);
}

h2 {
  font-size: var(--fs-name);
  color: var(--clr-primary-400);
  font-weight: var(--fw-500);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// Utilities

.container {
  max-width: var(--max-width-100);
  margin: 0 auto;
  padding: 0 1rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Components

// Nav
header {
  padding-top: 2rem;
  padding-bottom: 2.25rem;
}

nav {
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: var(--clr-primary-300);
    font-size: 0.875rem;

    p {
      margin-right: 1rem;
      text-transform: uppercase;
      font-size: 0.813rem;
      font-weight: 700;
    }
  }
}

// Search Bar
.search-wrap {
  &__search-box {
    position: relative;

    input {
      padding: 1.25rem 2.8rem;
      border: none;
      border-radius: 15px;
      box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
      width: 100%;
      font-size: var(--fs-input-placeholder);
    }

    .search-icon {
      position: absolute;
      left: 1rem;
      top: 18px;
      color: var(--clr-primary-100);
      height: 20px;
    }

    button {
      padding: 12.5px 18px;
      font-size: 14px;
      font-weight: var(--fw-500);
      color: var(--clr-dark-mode-100);
      background-color: var(--clr-primary-100);
      border: none;
      border-radius: var(--br-100);
      transition: 0.3s ease-in-out;
      cursor: pointer;

      position: absolute;
      right: 2.14%;
      top: 8px;

      &:hover {
        background-color: var(--clr-primary-700);
      }
    }
  }
}

// User container

.user-container {
  margin-top: 1rem;
  padding: 2rem 1.5rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

  .bio {
    margin-top: 2.0625rem;
    font-size: var(--fs-bio);
    line-height: 25px;
    color: var(--clr-primary-300);
  }
}

// User Header
.user-header {
  display: flex;
  align-items: center;
  &__img {
    img {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__info {
    margin-left: 1.1875rem;

    .name {
      margin-bottom: 6px;

      .username {
        color: var(--clr-primary-100);
        font-size: var(--fs-username);
        text-decoration: none;
      }
    }

    .date {
      font-size: var(--fs-date);
      color: var(--clr-primary-200);
    }
  }
}

// UserStats
.user-stats {
  padding: 18px 15px;
  background-color: var(--clr-primary-500);
  border-radius: var(--br-100);
  margin: 2.5625rem 0;
  ul {
    display: flex;
    justify-content: space-around;

    li {
      text-align: center;

      p {
        font-size: var(--fs-repos);
        margin-bottom: 8px;
        color: var(--clr-primary-300);
      }
      h3 {
        font-size: var(--fs-stat-number);
        color: var(--clr-primary-400);
        font-weight: var(--fw-500);
      }
    }
  }
}

// UserLinks

.user-links {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      margin-bottom: 1rem;
      color: var(--clr-primary-300);

      p {
        margin-left: 0.8125rem;
        font-size: var(--fs-social);
      }
    }

    :nth-child(1) {
      order: 1;
    }
    :nth-child(2) {
      order: 2;
    }
    :nth-child(3) {
      order: 3;
    }
    :nth-child(4) {
      order: 4;
    }
  }
}

@media (min-width: 768px) {
  :root {
    --fs-button: 1rem;
    --fs-input-placeholder: 1.125rem;
    --fs-name: 1.625rem;
    --fs-username: 1rem;
    --fs-date: 0.9375rem;
    --fs-bio: 0.9375rem;
    --fs-repos: 0.8125rem;
    --fs-stat-number: 1.375rem;
    --fs-social: 0.9375rem;
  }

  .container {
    max-width: var(--max-width-200);
    margin: 0 auto;
  }

  .user-container {
    padding: 2.5rem;
  }

  .user-header {
    &__img {
      img {
        width: 117px;
        height: 117px;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__info {
      margin-left: 2.5625rem;
    }
  }
  .user-stats ul li {
    text-align: left;
    margin-left: -3rem;
  }

  .user-links {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4rem;
      row-gap: 0.5rem;

      :nth-child(1) {
        order: 1;
      }
      :nth-child(2) {
        order: 3;
      }
      :nth-child(3) {
        order: 2;
      }
      :nth-child(4) {
        order: 4;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--max-width-300);
    margin: 0 auto;
  }
}
