@import "./reset.scss";

// Typography: Space Mono
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --clr-primary-100: #0079ff;
  --clr-primary-200: #697c9a;
  --clr-primary-300: #4b6a9b;
  --clr-primary-400: #2b3442;
  --clr-primary-500: #f6f8ff;
  --clr-primary-600: #fefefe;

  --clr-dark-mode-100: #ffffff;
  --clr-dark-mode-200: #141d2f;
  --clr-dark-mode-300: #1e2a47;

  --ff: "Space Mono", monospace;

  --fw-400: 400;
  --fw-500: 700;

  --fs-100: 0.9375rem;
  --fs-200: 1.375rem;
  --fs-300: 1.625rem;

  --br-100: 0.625rem;
  --br-200: 0.9375rem;

  --bs-100: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

  --max-width-100: 20.4375rem;
  --max-width-200: 35.8125rem;
  --max-width-300: 45.625rem;
}

// Base styles

body {
  font-size: var(--fs-100);
  font-weight: var(--fw-400);
  line-height: 1.3;
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-400);
}

h1 {
  font-size: var(--fs-300);
  color: var(--clr-primary-400);
  font-weight: var(--fw-500);
}

h2 {
  font-size: var(--fs-200);
  color: var(--clr-primary-400);
  font-weight: var(--fw-500);
}

.container {
  max-width: var(--max-width-100);
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: var(--clr-primary-300);

    p {
      margin-right: 1rem;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }
  }
}
